<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OminiCad Dashboard</title>
    <link href="../output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="./js/nav.js"></script>
    <script src="./js/users.js" defer></script>
</head>


<body>
    <div class="">
        <div class="antialiased bg-white">
            <aside
                class="fixed top-0 left-0 z-40 w-72 h-screen md:pt-6 pt-14 sidebar-transition -translate-x-full md:translate-x-0 bg-white"
                aria-label="Sidenav" id="drawer-navigation">
                <div class="overflow-y-auto px-3 h-full flex flex-col">
                    <section id="company-info"
                        class="flex flex-row items-center justify-between border border-gray-200 rounded-xl p-3 hover:border-gray-300 transition-colors">
                        <div
                            class="flex flex-row items-center gap-4 display-none-toggled transition-opacity duration-200">
                            <div>
                                <a href="#">
                                    <img src="/public/image/logo.svg" alt="logo" class="w-8 h-8">
                                </a>
                            </div>
                            <div class="font-inter">
                                <div class="font-bold">Varsity INC.</div>
                                <div class="font-light text-gray-500 text-sm">Free Plan</div>
                            </div>
                        </div>
                        <button id="collapse-sidebar"
                            class="toggle-button border rounded-md p-1.5 border-gray-200 flex items-center justify-center hover:bg-gray-100 hover:border-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-200">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-4 text-gray-500">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5" />
                            </svg>
                        </button>
                    </section>

                    <section class="font-inter py-6">
                        <div class="space-y-5 font-poppins">
                            <h2
                                class="uppercase text-gray-500 flex text-xs tracking-wider px-2 display-none-toggled transition-opacity duration-200">
                                Main Menu</h2>
                            <ul class="space-y-2 text-omini-cad-outer-space">
                                <li class="menu-item">
                                    <a class="flex items-center gap-3 w-full border border-gray-200 p-3 rounded-lg hover:bg-gray-100 transition-colors group active"
                                        href="#">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                                height="24" fill="none">
                                                <path
                                                    d="M2.5 12C2.5 7.52167 2.5 5.2825 3.89124 3.89126C5.28249 2.50002 7.52166 2.50002 12 2.50002C16.4783 2.50002 18.7175 2.50002 20.1088 3.89126C21.5 5.2825 21.5 7.52167 21.5 12C21.5 16.4784 21.5 18.7175 20.1088 20.1088C18.7175 21.5 16.4783 21.5 12 21.5C7.52166 21.5 5.28249 21.5 3.89124 20.1088C2.5 18.7175 2.5 16.4784 2.5 12Z"
                                                    stroke="currentColor" stroke-width="1.5" />
                                                <path d="M2.5 9.00002H21.5" stroke="currentColor" stroke-width="1.5"
                                                    stroke-linejoin="round" />
                                                <path d="M6.99981 6.00002H7.00879" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M10.9998 6.00002H11.0088" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M17 17C17 14.2386 14.7614 12 12 12C9.23858 12 7 14.2386 7 17"
                                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                                <path d="M12.707 15.293L11.2928 16.7072" stroke="currentColor"
                                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </div>
                                        <div
                                            class="font-medium text-sm text-gray-900 display-hide-toggle block transition-opacity duration-200">
                                            Dashboard</div>
                                        <span class="tooltip">Dashboard</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a class="flex items-center gap-3 w-full p-3 rounded-lg hover:bg-gray-50 transition-colors group"
                                        href="#">
                                        <div class="group-hover:text-gray-700">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                                height="24" fill="none">
                                                <path
                                                    d="M15 8C15 9.65685 13.6569 11 12 11C10.3431 11 9 9.65685 9 8C9 6.34315 10.3431 5 12 5C13.6569 5 15 6.34315 15 8Z"
                                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M16 4C17.6568 4 19 5.34315 19 7C19 8.22309 18.268 9.27523 17.2183 9.7423"
                                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M13.7143 14H10.2857C7.91876 14 5.99998 15.9188 5.99998 18.2857C5.99998 19.2325 6.76749 20 7.71426 20H16.2857C17.2325 20 18 19.2325 18 18.2857C18 15.9188 16.0812 14 13.7143 14Z"
                                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M17.7143 13C20.0812 13 22 14.9188 22 17.2857C22 18.2325 21.2325 19 20.2857 19"
                                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M8 4C6.34315 4 5 5.34315 5 7C5 8.22309 5.73193 9.27523 6.78168 9.7423"
                                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M3.71429 19C2.76751 19 2 18.2325 2 17.2857C2 14.9188 3.91878 13 6.28571 13"
                                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                        </div>
                                        <div
                                            class="font-medium text-sm text-gray-900 display-hide-toggle block transition-opacity duration-200">
                                            Users</div>
                                        <span class="tooltip">Users</span>
                                    </a>
                                </li>

                                <li class="relative">
                                    <a class="flex items-center gap-3 w-full p-3 rounded-lg hover:bg-gray-50 transition-colors group"
                                        href="#">
                                        <div class="group-hover:text-gray-700">
                                            <svg class="text-omini-cad-outer-space" xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 24 24" width="24" height="24" fill="none">
                                                <path
                                                    d="M9 5C9 3.58579 9 2.87868 9.43934 2.43934C9.87868 2 10.5858 2 12 2C13.4142 2 14.1213 2 14.5607 2.43934C15 2.87868 15 3.58579 15 5C15 6.41421 15 7.12132 14.5607 7.56066C14.1213 8 13.4142 8 12 8C10.5858 8 9.87868 8 9.43934 7.56066C9 7.12132 9 6.41421 9 5Z"
                                                    stroke="currentColor" stroke-width="1.5" />
                                                <path
                                                    d="M2 19C2 17.5858 2 16.8787 2.43934 16.4393C2.87868 16 3.58579 16 5 16C6.41421 16 7.12132 16 7.56066 16.4393C8 16.8787 8 17.5858 8 19C8 20.4142 8 21.1213 7.56066 21.5607C7.12132 22 6.41421 22 5 22C3.58579 22 2.87868 22 2.43934 21.5607C2 21.1213 2 20.4142 2 19Z"
                                                    stroke="currentColor" stroke-width="1.5" />
                                                <path
                                                    d="M16 19C16 17.5858 16 16.8787 16.4393 16.4393C16.8787 16 17.5858 16 19 16C20.4142 16 21.1213 16 21.5607 16.4393C22 16.8787 22 17.5858 22 19C22 20.4142 22 21.1213 21.5607 21.5607C21.1213 22 20.4142 22 19 22C17.5858 22 16.8787 22 16.4393 21.5607C16 21.1213 16 20.4142 16 19Z"
                                                    stroke="currentColor" stroke-width="1.5" />
                                                <path
                                                    d="M12 8V9M12 9C12 9.93188 12 10.3978 12.1776 10.7654C12.4144 11.2554 12.8687 11.6448 13.4404 11.8478C13.8692 12 14.4128 12 15.5 12C16.5872 12 17.1308 12 17.5596 12.1522C18.1313 12.3552 18.5856 12.7446 18.8224 13.2346C19 13.6022 19 14.0681 19 15V16M12 9C12 9.93188 12 10.3978 11.8224 10.7654C11.5856 11.2554 11.1313 11.6448 10.5596 11.8478C10.1308 12 9.5872 12 8.5 12C7.4128 12 6.8692 12 6.44041 12.1522C5.86867 12.3552 5.41443 12.7446 5.17761 13.2346C5 13.6022 5 14.0681 5 15V16"
                                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                        </div>
                                        <div
                                            class="font-medium text-sm text-gray-900 display-hide-toggle block transition-opacity duration-200">
                                            Role</div>
                                        <span class="tooltip">Role</span>
                                    </a>
                                </li>

                                <li class="relative">
                                    <a class="flex items-center gap-3 w-full p-3 rounded-lg hover:bg-gray-50 transition-colors group"
                                        href="#">
                                        <div class="group-hover:text-gray-700">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                                height="24" color="#000000" fill="none">
                                                <path
                                                    d="M3.87289 17.0194L2.66933 9.83981C2.48735 8.75428 2.39637 8.21152 2.68773 7.85576C2.9791 7.5 3.51461 7.5 4.58564 7.5H19.4144C20.4854 7.5 21.0209 7.5 21.3123 7.85576C21.6036 8.21152 21.5126 8.75428 21.3307 9.83981L20.1271 17.0194C19.7282 19.3991 19.5287 20.5889 18.7143 21.2945C17.9 22 16.726 22 14.3782 22H9.62182C7.27396 22 6.10003 22 5.28565 21.2945C4.47127 20.5889 4.27181 19.3991 3.87289 17.0194Z"
                                                    stroke="currentColor" stroke-width="1.5" />
                                                <path
                                                    d="M17.5 7.5C17.5 4.46243 15.0376 2 12 2C8.96243 2 6.5 4.46243 6.5 7.5"
                                                    stroke="currentColor" stroke-width="1.5" />
                                            </svg>
                                        </div>
                                        <div
                                            class="font-medium text-sm text-gray-900 display-hide-toggle block transition-opacity duration-200">
                                            Orders</div>
                                        <span class="tooltip">Orders</span>
                                    </a>
                                </li>

                                <li class="relative">
                                    <a class="flex items-center gap-3 w-full p-3 rounded-lg hover:bg-gray-50 transition-colors group"
                                        href="#">
                                        <div class="group-hover:text-gray-700">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                                height="24" color="#000000" fill="none">
                                                <path
                                                    d="M7.5 19.5C7.5 18.5344 7.82853 17.5576 8.63092 17.0204C9.59321 16.3761 10.7524 16 12 16C13.2476 16 14.4068 16.3761 15.3691 17.0204C16.1715 17.5576 16.5 18.5344 16.5 19.5"
                                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <circle cx="12" cy="11" r="2.5" stroke="currentColor" stroke-width="1.5"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path
                                                    d="M17.5 11C18.6101 11 19.6415 11.3769 20.4974 12.0224C21.2229 12.5696 21.5 13.4951 21.5 14.4038V14.5"
                                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <circle cx="17.5" cy="6.5" r="2" stroke="currentColor"
                                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                <path
                                                    d="M6.5 11C5.38987 11 4.35846 11.3769 3.50256 12.0224C2.77706 12.5696 2.5 13.4951 2.5 14.4038V14.5"
                                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <circle cx="6.5" cy="6.5" r="2" stroke="currentColor" stroke-width="1.5"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </div>
                                        <div
                                            class="font-medium text-sm text-gray-900 display-hide-toggle block transition-opacity duration-200">
                                            Client</div>
                                        <span class="tooltip">Client</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="my-4 border-t border-gray-200"></div>


                        <div class="space-y-5 font-poppins">
                            <h2 class="uppercase text-gray-500 flex text-sm tracking-wider px-2 display-none-toggled">
                                Other</h2>
                            <ul class="space-y-2 text-omini-cad-outer-space">
                                <li class="relative">
                                    <a class="flex items-center gap-3 w-full p-3 rounded-lg hover:bg-gray-50 transition-colors group"
                                        href="#">
                                        <div class="group-hover:text-gray-700">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                                height="24" color="#000000" fill="none">
                                                <path
                                                    d="M5.08069 15.2964C3.86241 16.0335 0.668175 17.5386 2.61368 19.422C3.56404 20.342 4.62251 21 5.95325 21H13.5468C14.8775 21 15.936 20.342 16.8863 19.422C18.8318 17.5386 15.6376 16.0335 14.4193 15.2964C11.5625 13.5679 7.93752 13.5679 5.08069 15.2964Z"
                                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M13.5 7C13.5 9.20914 11.7091 11 9.5 11C7.29086 11 5.5 9.20914 5.5 7C5.5 4.79086 7.29086 3 9.5 3C11.7091 3 13.5 4.79086 13.5 7Z"
                                                    stroke="currentColor" stroke-width="1.5" />
                                                <path d="M17 5L22 5" stroke="currentColor" stroke-width="1.5"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M17 8L22 8" stroke="currentColor" stroke-width="1.5"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M20 11L22 11" stroke="currentColor" stroke-width="1.5"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </div>
                                        <div
                                            class="font-medium text-sm text-gray-900 display-hide-toggle block transition-opacity duration-200">
                                            Profile</div>
                                        <span class="tooltip">Profile</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <div class="flex-grow"></div>
                    <section id="logout-section"
                        class="mt-4 mb-6 flex border cursor-pointer hover:bg-gray-100 transition-colors border-gray-200 rounded-xl p-3 gap-3 items-center">
                        <img src="/public/image/avataaars.svg" alt=""
                            class="size-8 block rounded-lg menu-item logout-item">
                        <a href="#"
                            class="block menu-item logout-item hover:border-gray-300 w-full font-medium  font-poppins transition-colors">
                            G.Elvis
                        </a>
                        <a href="#">
                            <svg data-testid="geist-icon" height="16" stroke-linejoin="round" viewBox="0 0 16 16"
                                width="16" class="text-omini-cad-punch">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M2.5 13.5H6.75V15H2C1.44772 15 1 14.5523 1 14V2C1 1.44771 1.44772 1 2 1H6.75V2.5L2.5 2.5L2.5 13.5ZM12.4393 7.24999L10.4697 5.28031L9.93934 4.74998L11 3.68932L11.5303 4.21965L14.6036 7.29288C14.9941 7.6834 14.9941 8.31657 14.6036 8.70709L11.5303 11.7803L11 12.3106L9.93934 11.25L10.4697 10.7197L12.4393 8.74999L5.75 8.74999H5V7.24999H5.75L12.4393 7.24999Z"
                                    fill="currentColor"></path>
                            </svg>
                        </a>
                    </section>

                </div>
            </aside>

            <main class="p-4 md:ml-72 h-auto font-poppins">
                <div class="border border-gray-100 min-h-screen rounded-2xl">

                    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
                        <div class="max-w-xl mx-auto border border-gray-200 px-10 py-5 rounded-xl">
                            <div class="text-center">
                                <h1 class="text-3xl capitalize font-bold text-gray-800 sm:text-4xl">
                                    Add user
                                </h1>
                                <p class="mt-1 text-gray-600 dark:text-neutral-400">
                                    Record the information of a user you want to add
                                </p>
                            </div>

                            <div class="mt-12">
                                <form>
                                    <div class="grid gap-4 lg:gap-6">
                                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:gap-6">
                                            <div>
                                                <label for="firstname"
                                                    class="block mb-2 text-sm text-gray-700 font-medium">First
                                                    Name</label>
                                                <input placeholder="Enter first name" type="text" name="firstname"
                                                    id="firstname"
                                                    class="py-2.5 sm:py-3 px-4 block w-full border-gray-200 rounded-lg sm:text-sm focus:border-omini-cad-outer-space focus:ring-omini-cad-outer-space disabled:opacity-50 disabled:pointer-events-none border">
                                            </div>

                                            <div>
                                                <label for="lastname"
                                                    class="block mb-2 text-sm text-gray-700 font-medium">Last
                                                    Name</label>
                                                <input placeholder="Enter last name" type="text" name="lastname"
                                                    id="lastname"
                                                    class="py-2.5 sm:py-3 px-4 block w-full border-gray-200 rounded-lg sm:text-sm focus:border-omini-cad-outer-space focus:ring-omini-cad-outer-space disabled:opacity-50 disabled:pointer-events-none border">
                                            </div>
                                        </div>

                                        <div>
                                            <label for="email"
                                                class="block mb-2 text-sm text-gray-700 font-medium">Email</label>
                                            <input placeholder="Enter email" type="email" name="email" id="email"
                                                autocomplete="email"
                                                class="py-2.5 sm:py-3 px-4 block w-full border-gray-200 rounded-lg sm:text-sm focus:border-omini-cad-outer-space focus:ring-omini-cad-outer-space disabled:opacity-50 disabled:pointer-events-none border">
                                        </div>
                                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:gap-6">
                                            <div>
                                                <label for="telephone"
                                                    class="block mb-2 text-sm text-gray-700 font-medium">Telephone</label>
                                                <input placeholder="Enter telephone number" type="text" name="telephone"
                                                    id="telephone"
                                                    class="py-2.5 sm:py-3 px-4 block w-full border-gray-200 rounded-lg sm:text-sm focus:border-omini-cad-outer-space focus:ring-omini-cad-outer-space disabled:opacity-50 disabled:pointer-events-none border">
                                            </div>

                                            <div>
                                                <label for="hs-select-label" class="block text-sm mb-2">Role</label>
                                                <select id="hs-select-label"
                                                    class="py-3 px-4 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-omini-cad-outer-space focus:ring-omini-cad-outer-space disabled:opacity-50 disabled:pointer-events-none border">
                                                    <option selected="">Open this select menu</option>
                                                    <option>Employee</option>
                                                    <option>Manager</option>
                                                    <option>Board Member</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="mt-6 grid">
                                        <button type="submit"
                                            class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-omini-cad-outer-space text-white hover:bg-neutral-800 cursor-pointer focus:outline-hidden focus:bg-neutral-700 disabled:opacity-50 disabled:pointer-events-none">Add
                                            User</button>
                                    </div>

                                    <div class="mt-3 text-center">
                                        <p class="text-sm text-gray-500 dark:text-neutral-500">
                                            User's information will be safely stored
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </main>
        </div>
    </div>
</body>



</html>